@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.navbar-container{
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3.3rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo img{
    width: 3rem;
    height: 3.5rem;
}
.logo h3{
    font-size:2.25rem;
    font-weight: 800;
}
#travel, #home{
    color:rgb(255, 84, 0);
}
.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
}
.nav-options p{
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
}
.navbar-container i{
    display: none;
}









/* Media Query for small devices */
@media screen and (max-width:576px) {
    .nav-options{
        display: none;
    }
    .navbar-container i{
        display:flex;
        margin-top: 2.7rem;
        margin-right: 0.625rem;
        cursor: pointer;
    }





}


/* Media Query for Medium devices */

@media screen and (min-width:576px) and (max-width:992px){

}